<div class="kpi-form">
  <h2 class="title">Форма редактирования kpi</h2>

  <form [formGroup]="form">
    <div class="label">
      <input class="input" type="text" formControlName="name" placeholder="Название"/>
    </div>
    <div class="label">
      <input class="input" type="text" formControlName="value" placeholder="Значение"/>
    </div>
  </form>
</div>
