.kpi-form
  margin: 0 auto
  max-width: 360px
  border: 1px solid #dadada

  .title
    margin: 0
    padding: 10px
    border-bottom: 1px solid #dadada
    font-size: 14px
    font-weight: normal
    text-transform: uppercase
    color: #999

  .label
    margin: 10px

    .input
      width: 100%
      height: 36px
      box-sizing: border-box
      padding:  0 15px
      border: 2px solid green
      border-radius: 2px
      font-size: inherit
      font-family: inherit

      &.ng-invalid
        border-color: red
