<div class="kpi">

  <div class="list">
    <div class="item" *ngFor="let item of fullList">
      <app-kpi-item [data]="item" [active]="currentKPI?.id === item.id" (select)="selectKPI($event)"></app-kpi-item>
    </div>
  </div>

  <div class="list">
    <div class="item" *ngFor="let item of shortList">
      <app-kpi-item [data]="item" [active]="currentKPI?.id === item.id" (select)="selectKPI($event)"></app-kpi-item>
    </div>
  </div>

  <app-kpi-form [data]="currentKPI" (updateData)="editItem($event)"></app-kpi-form>

</div>
