<div class="kpi-item" [ngClass]="{ 'disabled': data.disabled, 'active': active }" (click)="onClick()">

  <h4 class="name"
      [ngClass]="{ 'help': data.name.length > 19 }"
      [title]="(data.name.length > 19) ? data.name : ''">
    {{ (data.name.length > 19) ? (data.name | slice:0:19) + '…' : (data.name) }}
  </h4>

  <div *ngIf="data.value !== undefined" class="value">
    <span class="number">{{ data.value | number }}</span>
    <span class="units">{{ data.units }}</span>
  </div>
  <div *ngIf="data.value === undefined" class="value">
    <span class="number">—</span>
  </div>

  <div *ngIf="data.dynamic !== undefined" class="dynamic">
    <span
      class="arrow"
      [ngClass]="{
        'increase': data.dynamic > 0.02,
        'decrease': data.dynamic < -0.02
      }">
    </span>
    <span>{{ (data.dynamic > 0) ? '+' : '' }}</span>
    <span>{{ data.dynamic | percent: '2.2-2' }}</span>
  </div>
  <div *ngIf="data.dynamic === undefined" class="dynamic">— Нет данных</div>

</div>
