.kpi-item
  cursor: pointer
  width: 200px
  min-height: 90px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  padding: 10px
  border: 2px solid #dadada
  font-size: 12px
  text-align: center
  color: #555

  &.disabled
    cursor: default
    background-color: #f1f1f1

  &.active
    border-color: deepskyblue

  .name
    margin: 0 0 10px 0
    font-weight: normal

    &.help
      cursor: help

  .value
    margin: 0 0 5px 0
    font-size: 120%

    .number
      color: #000

    .units
      margin-left: 0.2em
      color: #999

  .dynamic
    font-size: 90%
    color: #777

    .arrow
      font-size: 140%

      &:before
        content: '→'
        margin-right: 0.2em

      &.increase:before
        content: '↑'
        color: green

      &.decrease:before
        content: '↓'
        color: red

